<header>
  <mat-card>
    <div class="header-container">
      <div class="header-left">
        <div class="header-btns-wrap">
          <button mat-stroked-button>My Cart</button>
          <button mat-stroked-button>Prodcuts</button>
          <button mat-stroked-button>My Account</button>
        </div>
      </div>


      <div class="header-right">
        <button mat-button>Dotan</button>
        <div mat-card-avatar class="profile-image"> </div>
      </div>


    </div>
  </mat-card>
</header>